{{ template "header.html" . }}


  <div class="section">
    <h2>{{ .Title }}</h2>
    <div class="scroll-container">
      
      {{ range .Items }}
        <a href="/item?id={{ .ID }}" class="item-link">
          <div 
            class="item" 
            style="background-image: url('/static/{{ .ResolvedImage }}');"
          >
            <div class="item-content">
              
              <h4>{{ .KeywordTitle }}</h4>

              
              {{ if .ImageCredits }}
                <p class="credits">
                  Image credits: {{ index .ImageCredits 0 }}
                </p>
              {{ end }}
            </div>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
  <!-- ─── FOOTER (bottom bar) ─── -->
</section>
</section>
 

{{ template "footer.html" . }}
