<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="styles.css" />
  <script src="/main.js"></script>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="icon" type="image/png" href="/static/images/logo.png">
</head>
<body>
  <header class="header-container">
    <div class="video-strip">
      <video
      
        class="video-element"
        autoplay
        muted
        loop
        playsinline
      >    <source src="/aerial.mp4" type="video/mp4" /></video>
      <div class="title-overlay">
        Advancing technologies, empowering people. 
        Discover how we shape smarter, safer, more resilient and sustainable systems across industries.
      </div>
    </div>

    <div class="header-main-content"> 
        <div class="banner">
            <a href="/" class="logo-link">
                <img src="static/images/logo.png" alt="AAT logo" class="banner-logo">
                <h1 class="company-name">American Advanced Technology</h1> 
            </a>
        </div>

        <nav class="nav-bar">
            <a href="/">Home</a>
            <a href="/service">Service</a>
            <a href="/project">Project</a>
            <a href="/product">Product</a>
            <a href="/research">Research</a>
            <a href="/training">Training</a>

            <a href="/contact">Contact</a>
            <a href="/about">About</a>  
        </nav>
    </div>
  </header>