{{ template "header.html" . }}


  <style>
.home-item-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #E77500;
    padding: 0px;
    margin: 0;
    text-align: center;
    margin-top: 40px;
}

.credit {
    font-size: 0.85em; /* Smaller font size for credits/description */
    color: #555;
    padding: 0 15px 15px; /* Padding top, sides, bottom */
    margin-top: auto; /* *** CRITICAL: Pushes the element to the bottom *** */
    margin-bottom: 0; /* Ensure no unwanted bottom margin from default p tags */
    line-height: 1.5;
    /* Optional: Keep these for multi-line ellipsis if description is too long */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 8 lines before ellipsis, adjust as needed */
    -webkit-box-orient: vertical;
    opacity: .2;
}

.page-title{
  margin-left: 40px;
   font-size: 2.1rem;
}





.home-item-title {
      text-align: center; /* Horizontally center the text */
    font-size: 1.5em; /* Slightly larger title for cards */
    font-weight: bold;
    color: #E77500; /* Orange title */
    padding: 15px;
    margin: 0; /* Remove default margin */
    text-align: center;
    margin-top: 40px;
}


  </style>
  <!-- Full-height Hero Section -->
  <section class="hero-banner"     style="background-image: url('/home_background');">
    <div class="hero-gradient">
      <div class="hero-content">
        <h2></h2>
          <a href="#" class="hero-button" onclick="scrollDown(); return false;">
                Explore Our Service
            </a>

      </div>
    </div>
  </section>

  <!-- Mission Statement -->
  <section class="mission-section">
    <h2 class="page-title">Our Mission</h2>
    <p class="subtitle">
American Advanced Technology’s mission is to make the world a better place to live by advancing technologies and empowering people and community. Our services and products benefit our customers and the society by enhancing their capability, health, safety, economy, efficiency, reliability, resilience, sustainability and satisfaction.
    </p>
  </section>
<section id="services" class="showcase-section">
      <h2 class="page-title">Our Service</h2>
      <div class="home-scroll-container">
    {{ range .Items }}
      <a href="{{ .Link }}" class="item-link"
         onclick="goToItem(this); return false;"> 
         <div class="item-wrapper">
          <div class="image-wrapper">
            <img src="/static/images/{{ .ResolvedImage }}" alt="{{ .KeywordTitle }}">
          </div>
          <p class="home-item-title">{{ .KeywordTitle }}</p>
                  {{ if .ImageCredits }}
                       <p class="credit">{{ index .ImageCredits 0 }}</p>
          {{ end }}
        </div>
      </a>
    {{ end }}
  </div>

</section>


</section>
 {{ template "footer.html" . }}
