{{ template "header.html" . }}

  <div class="section">
        <section class="project-detail-section">
            <h1 class="project-title">{{ .Project.Title }}</h1>
            
            <div class="project-content">
                {{/* .Content already contains joined NextPageTexts with newlines */}}
                <p>{{ .Project.Content }}</p> 
            </div>

          <div class="project-images-container">
              {{ range .Project.ImagePaths }}
                  <div class="project-image-item"> {{/* This wrapper is crucial */}}
                      <img src="/{{ . }}" alt="Project Image" class="project-image">
                  </div>
              {{ else }}
                  <p>No images available for this project.</p>
              {{ end }}
          </div>


            
           
        </section>
           <div>
           <a href="/project" class="subtitle">Back to Projects</a>
        </div>
        </div>
     
</section>
 

{{ template "footer.html" . }}
