{{ template "header.html" . }}

<style>
  .bottom-two {
    margin-bottom: 2rem;
  }
</style>
<link rel="stylesheet" href="/static/css/base.css">

<div class="section">
  <h1 class="page-title">Service</h1>

  <p class="subtitle">
    American Advanced Technology, LLC provides our customers with services in transportation, water and wastewater, energy, environmental and public health, and safety, smart city and infrastructure, software, information technology, artificial intelligence and financial sectors. Specific service areas include
  </p>
  
  <div style="margin-top: 50px; padding: 0rem;">
    {{ range .Categories }}
      <div>
        <h1 class="page-title">{{ .Title }}</h1>
        <ul class="one-column">
          {{ range .Services }}
            <li class="subtitle">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      <div class="bottom-two"></div> 
    {{ end }}
  </div>
</div>

{{ template "footer.html" . }}