{{ template "header.html" . }}


<div class="section">
  <h1 class="page-title">Training</h1>

  <p class="subtitle">
    American Advanced Technology empowers people through education, training and workforce development activities. Download and fill out the  
    <a href="/static/files/training_form.pdf">
      Training Inquiry Form
    </a> and email it to <a href="mailto:customer_service@usaaat.com">customer_service@usaaat.com</a> if you are interested in one of the following programs. Our customer service will reach out to you for a no-cost consultation before you decide to register in a Program.
  </p>
  <div class="section">

    <ul>
    <li class="subtitle">Summer and Winter Camp Program for K-12 and College Students</li>
    <li class="subtitle">Culture, Art and Design Program for K-12, Community College and College Students</li>
    <li class="subtitle">College Access Counseling Program for High School Students</li>
    <li class="subtitle">Certificate and Internship Program for High School, Trade School, Community College and College Students</li>
    <li class="subtitle">Incumbent Training Program for Working Professionals and Community Residents</li>
  </ul>
  </h1>
  </div>
</div>
</section>
</section>
 

{{ template "footer.html" . }}
